* :not(form){
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
:root {
    --color: rgb(204, 16, 195);
    --background-color: rgb(7, 192, 238);
    --border: 2px solid rgb(106, 228, 237);
}
.logo-navegador{
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
}
.logo-navegador img {
    height: 5vh;
    background-color: var(--background-color);
}
nav{
    font-size: 1.3rem;
    background-color: var(--background-color);
    width: 100%;
    height: 5vh;
    display: flex;
}
nav a{
    margin-left: 1rem;
    color: var(--color);
    font-style: oblique;
    background-color: var(--background-color);
    text-decoration: none;
}
.piedep p{
    text-align: center;
    font-size: 1.1rem;
    color: var(--color);
    background-color: var(--background-color);
}
.primimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color);
}
.primimg img{
    width: 50rem;
    height: 35rem;
    border: solid 2px var(--color) ;
}
.sec2{
    display: flex;
    justify-content: space-around;
    border: solid 2px var(--color);
}
.sec2 img{
    width: 40vw;
    height: 50vh;
    padding: 0.4rem;
}
.sec2 p{
    color: var(--color);
    font-size: 1.4rem;
    padding: 10rem;
}
.about1 h1{
    color: var(--color);
    display: flex;
    justify-content: center;
}
.about2 h2{
    color: var(--color);
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
    padding-top: 2%;
}
.about2 {
    display: flex;
    flex-direction: column;
}
.about2 img{
    height: 40vh;
    width: 30vw;
    padding: 0.5%;
}
.about2 p{
    font-size: 1.5rem;
    color: var(--color);
}
.about2 div{
    display: flex;
    align-items: center;
}
.contact1 {
    color: var(--color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}
.contact2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact2 img{
    padding: 2%;
    width: 50rem;
    height: 40rem;
}
.contact2 p{
    font-size: 1.5rem;
    color: var(--color);
    padding: 0.9%;
}
.contact3 {
    display: flex;
    justify-content: center;
    gap: 30%;
}
.contact3 a{
    font-size: 1rem;
    color: var(--color);
}
.logo-navegador a:hover{
    background-color: rgb(11, 6, 6);
    font-weight: 800;
    border: solid 0.5px var(--color);
    border-radius: 25%;
}
#tabla {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
#tabla,h3,h2{
    font-size: xx-large;
    padding: 0.5rem;
    color: var(--color);
}
table,tr,th,td {
    font-size: xx-large;
    border: var(--border);
    border-collapse: collapse;
    color: var(--color);
    padding: 2rem;
}
#cuerpo{
    display: flex;
}
#cuerpo>div {
    font-size: x-large;
    align-items: center;
    color: var(--color);
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
#cuerpo img{
    height: 20rem;
    width: 35rem;
    display: flex;
    justify-items: center;
    padding: 1rem;
}
.listas{
    justify-content: space-around;
    padding: 3rem;
}
.l2{
    margin-top: 7rem;
    padding: 5rem;
}
.l1{
    padding: 5rem;
}
ul{
    padding-left: 3rem;
}
#ttitulo-raf{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    width: 27vw;
    background-color: white;
    color: var(--color);
}
.formu{
    height: 70vh;
    background-color:white;
    display: flex;
    flex-direction: column;
}
.formu input, option, legend, label, select{
    background-color:white;
}
.fecha{
    display: flex;
    flex-direction: column;
}
.payment{
    background-color:white;
}
.mensaje{
    background-color: white;
}
.mensaje input{
    width: 22vw;
    height: 15vh;
}
.condiciones{
    padding-top: 0.5rem;
    font-size: small;
    background-color: white;
}
.terminos{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
#cuerpos {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.mapaa iframe{
    height: 23rem;
    width: 30rem;
}
.mapaa h2{
    font-size: medium;
}
@media only screen and (min-width: 320px) and (max-width: 767px){
    .logo-navegador{
        height: 2rem;
        width: 100vw;
        display: flex;
        flex-direction: column;
        background-color: var(--background-color);
    }
    .logo-navegador img {
        height: 1.3rem;
        width: 1.5rem;
        align-self: center;
    }
    nav{
        font-size: x-small;
        width: 30%;
        height: 1.3rem;
    }
    nav a{
        width: 50%;
        height: 1.2rem;
    }
    .primimg h2, h3{
        font-size: medium;
    }
    .primimg img{
        width: 15rem;
        height: 12rem;
    }
    .sec2{
        width: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec2 img{
        margin-top: 0.5rem;
        padding: 0%;
        width: 15rem;
        height: 8rem;
    }
    .sec2 p{
        width: 15rem;
        padding: 0%;
        color: var(--color);
        font-size: x-small;
    }
    .about1{
        font-size: small;
    }
    .about2 h2{
        font-size: small;
    }
    .about2 p{
        font-size: small;
    }
    .about2 img{
        width: 10rem;
        height: 7rem;
    }
    .contact1 h2, h3{
        font-size: small;
    }
    .contact2 p{
        font-size: small;  
    }
    .contact2 img{
        width: 50vw;
        height: 50vh;
    }
    .contact3 a{
        font-size: small;
    }
    #tabla,h3,h2{
        font-size: small;
        padding: 0.5rem;
    }
    table,tr,th,td {
        font-size: small;
        padding: 1rem;
    }
    #cuerpo img{
        height: 10rem;
        width: 12.5rem;
        padding: 0.5rem;
    }
    #cuerpo>div {
        gap: 1.5rem;
    }
    .listas{
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        justify-content: space-around;
        padding: 0rem;
    }
    .l2{
        font-size: small;
        margin-top: 7rem;
        padding: 0rem;
    }
    .l1{
        font-size: small;
        padding: 0rem;
    }
    ul{
        font-size: small;
        padding-left: 1.5rem;
    }
    .mapaa{
        padding: 0rem;
        display: flex;
        flex-direction: column;
        margin-left: 0rem;
    }
    .mapaa iframe{
        height: 12rem;
        width: 9.3rem;
    }
    .mapaa h2{
        font-size: 10px;
    }
    form{
        margin-top: 1rem;
        width: 15rem;
        height: 20rem;
    }
    .formu{
        height: 1.5rem;
        background-color:white;
        display: flex;
        flex-direction: column;
    }
    .formu input, option, legend, label, select{
        font-size: x-small;
        background-color:white;
    }
    .fecha{
        width: 6.5rem;
        display: flex;
    }
    .payment{
        margin-top: 10%;
        font-size: x-small;
        background-color:white;
    }
    .mensaje{
        margin-top: 0.2rem;
        font-size: x-small;
        background-color: white;
    }
    .mensaje input{
        font-size: x-small;
        width: 5rem;
        height: 2rem;
    }
    .condiciones{
        padding-top: 0.5rem;
        font-size: x-small;
        background-color: white;
    }
    .terminos{
        display: flex;
        justify-content: space-between;
        background-color: white;
    }
    #cuerpos {
        margin-top: 0rem;
        margin-bottom: 0.5rem;
        gap: 0rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    form{
        width: 25rem;
        height: 30rem;
    }
    .formu{
        height:25rem;
        display: flex;
        flex-direction: column;
    }
    #cuerpo>div {
        gap: 1rem;
    }
    #cuerpo img{
        height: 15rem;
        width: 20rem;
    }
     .l2{
        margin-top: 7rem;
        padding: 0rem;
    }
    .l1{
        padding: 0rem;
    }
    ul{
        padding-left: 3rem;
    }
}